<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymously Share</title>
    <link rel="stylesheet" href="styles/back.css" type="text/css"></link>
  </head>
  <body>
    <h1>Anonymously Share</h1>
    <h2>File Upload Success</h2>
    <a href="/">
       <button>Back</button>
    </a>
  </body>
</html>
