<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymously share</title>
    <link rel="stylesheet" href="styles/index.css" type="text/css"></link>
  </head>
  <body>
    <h1>Anonymously Share</h1>
    <p>Share your files to all over world</p>
    <p>The files will permanetly deleted after 
       <span class="my-text1">
         24 Hours
       </span>
    </p>
    <p>
      <span class="my-text2">
         UnSafe and UnSecure
      </span>
    </p>
    <p>Your file will visible to all those who online</p>
    <p>After successful upload your file visible in [show all files]</p>
    <p>Don't Upload Sensitive files</p>
    <p>
       File Limits 
       <span class="my-text1">
          50 MB
       </span>
     </p>
    <a href='/uploads'>
       <button type='submit'>Upload</button>
    </a>
    <a href='/show'>
        <button type='submit'>Show All Files</button>
     </a>
  </body>
</html>
